<%= render "shared/heading", title: "Public Pastes" do %>
    <div class="flex justify-between items-center px-4 py-2 border-b border-[var(--border-muted)] ">
        <div class="flex items-center gap-3">
            <%= link_to "Newest", pastes_path(sort: "new"), class: link_class(variant: :bold, size: :sm) %>
            <span>|</span>
            <%= link_to "Oldest", pastes_path(sort: "old"), class: link_class(variant: :bold, size: :sm) %>
            <span>|</span>
            <%= link_to "Most Views", pastes_path(sort: "views"), class: link_class(variant: :bold, size: :sm) %>
        </div>
        <%= form_with url: pastes_path, 
            method: :get, 
            local: true, 
            data: { turbo_frame: "pastes_list", controller: "search-query" },
            html: { class: "inline" } do %>
            <%= text_field_tag :q, params[:q], 
                placeholder: "Search...", 
                class: "border border-[var(--border)] px-2 py-1", 
                autocomplete: "off", 
                data: { action: "input->search-query#submit" } 
            %>
        <% end %>
    </div>
    
    <%= render "shared/pastes_list", pastes: @pastes, pagy: @pagy, params: params, current_user: current_user, user: nil %>
<% end %>
